@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Barlow+Condensed&family=Barlow+Semi+Condensed&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Caprasimo&family=Epilogue&family=Inter&family=Manrope&family=Montserrat+Alternates:wght@200&family=Oooh+Baby&family=Playfair+Display&family=Public+Sans&family=Roboto&family=Rubik&family=Work+Sans&display=swap');

.card-outer-div {
  width: 480px;
  height: 500px;
  border-radius: 16px;
  background-color: hsl(0, 0%, 100%);
}

.card-cnt {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.card-imghead-cnt {
  display: flex;
  gap: 19px;
  align-items: center;
  padding: 6%;
}

.card-icon {
  height: 40 px;
}

.card-para {
  font-size: 45px;
  font-weight: 800;
}
